
  body{
    padding: 30px;
  }
  .block{
    max-width: 100px;
    margin: 0% auto;
    height: 100px;
    background-color:red;
    border: 6px solid black;
    border-radius: 8px;
  }
  .block1{
    max-width: 150px;
    margin-top: 50px;
    margin-left: 370px;
    height: 150px;
    background-color: yellow;
    border: 3px solid red;
    box-shadow: 3px 5px 7px;
  }
  