
  body{
    padding: 30px;
  }
  .block{
    max-width: 100px;
    margin: 0% auto;
    height: 100px;
    background-color:red;
    border: 6px solid black;
    border-radius: 8px;
  }
  .block1{
    max-width: 150px;
    margin: 50px auto;
    height: 150px;
    background-color: yellow;
    border: 3px solid red;
    box-shadow: 10px 8px 3px royalblue;
    
  }
  .shadow{ 
    box-shadow: 5px 7px 9px green;
    height: 100px;
    margin: 50px auto;
    max-width: 100px;
    background-color: blueviolet;
    border: 5px solid yellowgreen;
  }